@import url("https://fonts.googleapis.com/css?family=Rubik:300,400,700");
* {
  font-family: 'Rubik', sans-serif;
  margin: 0;
  padding: 0; }

body {
  overflow-x: hidden; }

p {
  line-height: 26px;
  font-weight: 300; }

h2 {
  padding: 35px;
  font-weight: 400; }

h4 {
  font-size: 24px;
  padding: 40px;
  font-weight: 100; }

h1 {
  padding-bottom: 80px;
  font-size: 72px;
  font-weight: bold;
  line-height: 70px; }

.container {
  max-width: 1162px;
  margin: auto; }

button {
  width: 200px;
  height: 50px;
  background: rgba(255, 255, 255, 0.1);
  border: solid white 2px;
  color: #fff;
  margin-bottom: 50px;
  cursor: pointer; }

button:focus {
  outline: none; }

.italic {
  font-family: serif;
  font-style: italic; }

.nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  color: #fff;
  padding-top: 10px;
  padding-right: 80px;
  padding-left: 80px;
  tranistion: .3s; }
  .nav__logo {
    width: 60px;
    height: 60px; }
    .nav__logo img {
      width: 100%;
      height: 100%; }
  .nav__list {
    display: flex; }
    .nav__list li {
      list-style: none;
      padding-left: 20px;
      padding-right: 20px;
      font-size: 13px; }
  .nav__scrolled {
    background: rgba(0, 0, 0, 0.5);
    padding-top: 0;
    transition: .3s; }
  .nav a {
    text-decoration-line: none;
    color: inherit; }

.home {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/home%20main.jpg);
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  width: 100%; }
  .home__content {
    display: inherit;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; }

.aboutMe {
  width: 100%;
  padding-top: 40px; }
  .aboutMe h2 {
    font-family: serif; }
  .aboutMe__caption {
    text-align: center; }
  .aboutMe__projects {
    text-align: center;
    margin-top: 30px; }
  .aboutMe__projectsList {
    display: flex;
    width: 900px;
    margin: auto;
    margin-bottom: 20px; }
  .aboutMe__item {
    width: 280px;
    height: 280px;
    margin: 10px;
    position: relative;
    overflow: hidden; }
    .aboutMe__item:hover .aboutMe__overlay {
      transform: translateY(0);
      transition: .5s; }
    .aboutMe__item img {
      width: 100%;
      height: 100%; }
  .aboutMe button {
    color: black;
    border: black solid 2px; }
  .aboutMe__overlay {
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(280px);
    transition: .5s; }
    .aboutMe__overlay p:nth-child(1) {
      font-family: serif;
      font-style: italic; }
    .aboutMe__overlay p:nth-child(2) {
      font-size: 20px;
      font-weight: bold; }
    .aboutMe__overlay button {
      width: 120px;
      height: 40px;
      margin-top: 10px;
      font-size: 13px;
      color: #fff;
      border-color: #fff; }

.portfolioHeader {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/work%20main.jpg);
  background-size: cover;
  height: 100vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center; }
  .portfolioHeader__caption {
    text-align: center; }

.portfolio {
  background: #edeeef;
  text-align: left; }
  .portfolio p {
    font-size: 26px;
    font-weight: 300;
    line-height: 30px; }
  .portfolio h2 {
    margin-bottom: 30px;
    padding: 0;
    font-size: 42px; }
  .portfolio__content {
    text-align: left; }
  .portfolio__caption {
    padding: 30px;
    padding-top: 83px; }
  .portfolio__gallery {
    display: flex;
    flex-direction: column; }
  .portfolio__item {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    margin: 50px 0; }
    .portfolio__item:nth-child(even) {
      flex-direction: row-reverse; }
      .portfolio__item:nth-child(even) .portfolio__itemInfo {
        margin-right: -215px; }
        .portfolio__item:nth-child(even) .portfolio__itemInfo a {
          align-self: flex-start; }
    .portfolio__item img {
      max-width: 872px;
      height: 489px; }
  .portfolio__itemInfo {
    display: flex;
    flex-direction: column;
    text-align: left;
    max-width: 583px;
    max-height: 248px;
    padding: 30px;
    background: #fff;
    margin-left: -182px; }
    .portfolio__itemInfo p {
      font-weight: 300;
      font-size: 16px;
      line-height: 26px; }
    .portfolio__itemInfo a {
      align-self: flex-end;
      padding-top: 20px; }

.contactHeader {
  background: url(../img/contact%20main.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center; }
  .contactHeader__caption {
    text-align: center; }

.contact__form {
  padding: 74px; }

.contact__line p {
  position: relative;
  font-size: 20px;
  font-family: sans-serif; }
  .contact__line p::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: #000;
    bottom: 0;
    left: 0;
    right: 0; }

.contact input,
.contact textarea {
  border: solid 2px #eeeeee; }
  .contact input:focus,
  .contact textarea:focus {
    outline: none; }

.contact__wrapper {
  margin-top: 55px; }

.contact__inputs {
  display: flex;
  justify-content: space-between; }
  .contact__inputs input {
    width: 480px;
    height: 40px;
    margin: 10px 0; }

.contact__name {
  display: flex;
  flex-direction: column; }

.contact__email {
  margin-top: 55px; }
  .contact__email input[name="email"] {
    width: 100%;
    height: 40px;
    margin: 10px 0;
    margin-bottom: 55px; }
  .contact__email textarea {
    width: 100%;
    height: 200px;
    margin: 10px 0; }

.contact__btn {
  display: flex;
  justify-content: center; }
  .contact__btn button {
    background: #272727;
    margin: 0;
    margin-top: 50px; }

.footer {
  background: url(../img/footer.jpg) 0% 60%;
  background-size: cover;
  text-align: center;
  color: #fff;
  width: 100%; }
  .footer p {
    font-size: 12px; }
  .footer h2 {
    font-family: serif; }
  .footer__media {
    display: flex;
    margin: auto;
    margin-top: 10px;
    justify-content: center;
    width: 200px;
    height: 70px; }
    .footer__media img {
      width: 45px;
      height: 45px;
      margin: 5px; }
  .footer button:hover {
    background: #fff;
    color: #000; }
