.contact {
    &__form {
        padding: 74px;
    }
    &__line {
        p {
            position: relative;
            font-size: 20px;
            font-family: sans-serif;
            &::after {
                content: "";
                position: absolute;
                width: 100%;
                height: 2px;
                background: #000;
                bottom: 0;
                left: 0;
                right: 0;
            }
        }
    }
    input,
    textarea {
        border: solid 2px #eeeeee;
        &:focus{
             outline: none;
        }
        
    }
    &__wrapper {
        margin-top: 55px;
    }
    &__inputs {
        display: flex;
        justify-content: space-between;
        input {
            width: 480px;
            height: 40px;
            margin: 10px 0;
        }
    }
    &__name {
        display: flex;
        flex-direction: column;
    }
    &__email {
        margin-top: 55px;
        input[name="email"] {
            width: 100%;
            height: 40px;
            margin: 10px 0;
            margin-bottom: 55px;
        }
        textarea {
            width: 100%;
            height: 200px;
            margin: 10px 0;
        }
    }
    &__btn {
        display: flex;
        justify-content: center;
        button {
            background: #272727;
            margin: 0;
            margin-top: 50px;
        }
    }
}
