.footer {
    background: url(../img/footer.jpg)0% 60% ;
    background-size: cover;
    text-align: center;
    color: #fff;
    width: 100%;
    p{
        font-size: 12px;
    }
    h2{
        font-family: serif;
    }
    &__media {
        display: flex;
        margin: auto;
        margin-top: 10px;
        justify-content: center;
        width: 200px;
        height: 70px;
        img {
            width: 45px;
            height: 45px;
            margin: 5px;
        }
    }
    button {
        &:hover {
            background: #fff;
            color: #000;
        }
    }
}
