* {
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
}
body {
    overflow-x: hidden;
}
p {
    line-height: 26px;
    font-weight: 300;
}
h2 {
    padding: 35px;
    font-weight: 400;
}
h4 {
    font-size: 24px;
    padding: 40px;
    font-weight: 100;
}
h1 {
    padding-bottom: 80px;
    font-size: 72px;
    font-weight: bold;
    line-height: 70px;
}
.container {
    max-width: 1162px;
    margin: auto;
}
button {
    width: 200px;
    height: 50px;
    background: rgba(255, 255, 255, 0.1);
    border: solid white 2px;
    color: #fff;
    margin-bottom: 50px;
    cursor: pointer;
}

button:focus {
    outline: none;
}
.italic {
    font-family: serif;
    font-style: italic;
}
