.portfolio {
    background: #edeeef;
    text-align: left;
    p {
        font-size: 26px;
        font-weight: 300;
        line-height: 30px;
    }
    h2 {
        margin-bottom: 30px;
        padding: 0;
        font-size: 42px;
    }
    &__content {
        text-align: left;
    }
    &__caption {
        padding: 30px;
        padding-top: 83px;
    }
    &__gallery {
        display: flex;
        flex-direction: column;
    }
    &__item {
        position: relative;
        width: 100%;
        display: flex;
        align-items: center;
        margin: 50px 0;
        &:nth-child(even) {
            flex-direction: row-reverse;
            .portfolio__itemInfo {
                margin-right: -215px;
                a{
                    align-self: flex-start
                }
            }
        }
        img {
            max-width: 872px;
            height: 489px;
        }
    }
    &__itemInfo {
        display: flex;
        flex-direction: column;
        text-align: left;
        max-width: 583px;
        max-height: 248px;
        padding: 30px;
        background: #fff;
        margin-left: -182px;
        p {
            font-weight: 300;
            font-size: 16px;
            line-height: 26px;
        }
        a{
            align-self: flex-end;
            padding-top: 20px;
        }
    }
}
